<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
  </head>
  <body>
    <h1>Users list below</h1>
    <h1>Total users:- <%= data.length %></h1>
    <ul>
      <% for(var i=0; i < data.length; i++) { %>
      <li><%= data[i].idusers %></li>
      <% } %>
    </ul>
    <!-- <button>Add new user</button> -->
     <form action="" method="post">
      <button id="button" type="submit">New User</button>
      
    </form>
  </body>
</html>
