@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);

* {
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

button {
  background: dodgerblue;
  padding: 1rem 2rem;
  border: none;
  color: white;
  border-radius: 100px;
  float: right;
}

button:hover {
  opacity: 0.8;
}

ul {
  margin: 1rem 0;
}

li {
  padding: 1rem 0;
  border-bottom: 1px solid #d2d2d2;
  list-style-type: none;
}
